# Virtual environments - DO NOT COMMIT
venv/
venv311/
env/
ENV/
*.pyc
__pycache__/

# OS files
.DS_Store
quantized_models/
generated_images/
evaluation_outputs/
venv/
__pycache__/
*.safetensors
*.pt
*.bin
